<ion-view view-title="Search" cache-view="false">
    <ion-content>
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="search.searchText">
            </label>
            <div class="card">
                <div class="item item-divider">
                    Skills
                </div>
                <div class="item item-text-wrap" style="min-height:300px;">
                   <a class="skill" ng-repeat="item in skills | filter:search.searchText | limitTo: 15" ng-click="select(item)" ng-class="{skillselected: item.selected == true}">{{item.skill}}</a>

                </div>
                <div class="item item-divider">
                    I'm a Footer in a Card!
                </div>
            </div>

            <button class="button button-positive" ng-click="more()" style="width:95%;margin-left:2%">
                More
            </button>

            <button class="button button-positive" ng-click="save()" style="width:95%;margin: 2% 0 0 2%;">
                Save
            </button>

        </ion-list>
    </ion-content>
</ion-view>
