<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates<input type="submit" ng-click="logout()" value="Log out" class="button button-positive" style="font-size: 13px; float: right;"/></div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Profile Information</div>
      <div class="item item-body">
        <img src="{{auth.profile.picture}}" style="float:left">
        <div style="margin-left:10%; float:left;">
          <p>{{auth.profile.name}}</p>
          <p>{{auth.profile.headline}}</p>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          <span>Hello {{auth.profile.name}} </span>
          <p>You have <b>29</b> meetings on your calendar tomorrow.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
