<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <!--<ion-toggle  ng-model="settings.enableFriends">-->
          <!--Enable Friends-->
      <!--</ion-toggle>-->
      <div class="list card">
        <div class="item item-divider">Profile</div>
        <div class="item item-body">
          <img src="{{auth.profile.picture}}" style="float:left">
          <div style="margin-left:20px; float:left;">
            <p style="margin-top:0;">{{auth.profile.name}}</p>
            <p>{{auth.profile.headline}}</p>
            <p>{{auth.profile.positions.values[0].company.name}}</p>
          </div>
        </div>
      </div>

      <!--<div class="item item-button-right">-->
        <!--Update Position-->
        <!--<button class="button button-positive" ng-click="refresh()">-->
          <!--<i class="icon ion-loop"></i>-->
        <!--</button>-->
      <!--</div>-->


      <h4 style="margin:15px; padding-top:30px;">Personal Hashtags</h4>
      <a class="skill" ng-repeat="item in personal_skills" ng-class="{skillselected: item.selected == true}" ng-click="select(item)">{{item.skill}}</a>

      <button class="button button-block button-assertive" type="submit" ng-click="remove()" style=" width: 95%;margin: 0 2.5%;" >Remove</button>

      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Hashtag #1" ng-model="hashtag.hashtag1">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Hashtag #2" ng-model="hashtag.hashtag2">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Hashtag #3" ng-model="hashtag.hashtag3">
        </label>
      </div>
      <button class="button button-block button-positive" type="submit" ng-click="submit_hash()" style=" width: 95%;margin: 0 2.5%;" >Update</button>

      <div style="margin-top:45px;" class="item item-button-right">
        Logout
        <button class="button button-positive" ng-click="logout()">
          <i class="icon ion-log-out"></i>
        </button>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
