<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-toggle  ng-model="settings.enableFriends">
          Enable Friends
      </ion-toggle>
      <div class="item item-button-right">
        Logout
        <button class="button button-positive" ng-click="logout()">
          <i class="icon ion-log-out"></i>
        </button>
      </div>

      <h4 style="margin:15px; padding-top:30px;">Input Hastag</h4>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Hashtag #1" ng-model="hashtag.hashtag1">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Hashtag #2" ng-model="hashtag.hashtag2">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Hashtag #3" ng-model="hashtag.hashtag3">
        </label>
      </div>
      <button class="button button-block button-positive" type="submit" ng-click="submit_hash()" style=" width: 95%;margin: 0 2.5%;" >Update</button>

    </ion-list>
  </ion-content>
</ion-view>
