/* Empty. Add your own CSS if you like */

@font-face {
    font-family: "Gotham Book";
    src: url(../font/GothamBook.woff);
}

@font-face {
    font-family: "Proxima Nova R";
    font-weight: bold;
    src: url(../font/ProximaNovaRegular.otf) format("opentype");
}

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
    overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
    padding-top: 2px;
}

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
}

.footer-btn {
    position: absolute !important;
    bottom: 0;
}

img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    /*bottom: 10px;*/
}

img.profile-pic.left {
    left: 10px;
}

img.profile-pic.right {
    right: 10px;
}

.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}

.message {
    font-size: 14px;
}

.message-detail {
    white-space: nowrap;
    font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
}

.message-wrapper {
    position: relative;
}

.message-wrapper:last-child {
    margin-bottom: 10px;
}

.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
}

.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}

.chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px;
}

.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
    margin-right: 55px;
}

.chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}

.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
}

.msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

input, textarea, .item-input, .item-input-wrapper {
    background-color: #f4f4f4 !important;
}

.bold {
    font-weight: bold;
}

.cf {
    clear: both !important;
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}

/* loading */
.loader-center {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.loader .ion-loading-c {
    font-size: 64px;
}

.login-background {
    background-image: url(../img/background.jpg);
    position: relative;
}

.login-background-misc {
    background: url(../img/Login_BG@2x.png);
    background-size: cover;
}

.login-button {
    position: absolute;
    bottom: 12%;
    left:0;
    right:0;
    margin:auto;
    width:300px;
    background:transparent;
    box-shadow:none;
}

.login-button-inside {
    color: black !important;
    margin:0;
    border-radius: 25px;
}

.skill {
    background-color: #387ef5;
    color: white;
    margin: 5px 5px 5px 10px;
    padding: 0 5px 0 5px;
    line-height: 2.2;
    border-radius: 10px;
    font-size: 14px;
    display: inline-block;
}

    .skillselected {
        background-color: #4cf51f;
    }

.login-wrapper {
    padding: 0 10% 10% 10%;
    height: 100%;
    position: relative;
}



.login-button-group {
    position: absolute;
    bottom: 6%;
    width: 80%;
}

.button-linkedin {
    background-color: #0A93C9;
    color:white;
    font-family: "Proxima Nova R";
    font-size: 14px;
    border: none;
    border-radius: 0;
}

    .button-linkedin:focus {
        background-color: #067ab8;
        box-shadow: none;
    }

    .button-linkedin:active {
        box-shadow: none;
    }

    .button-facebook:focus {
        background-color: #089b36;
        box-shadow: none;
    }

.button-facebook {
    background-color: #0DB14B;
    color:white;
    font-family: "Proxima Nova R";
    font-size: 14px;
    border: none;
    border-radius: 0;
    margin-bottom: 20px !important;
}

.button-linkedin:hover, .button-facebook:hover {
    color: whitesmoke;
}

.icon-linkedin {
    position: absolute;
    left: 5%;
    top: 23%;
}

.giv-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    width: 22%;
}

.login-linebreak {
    height: 1px;
    background-color: black;
    text-align: center;
}

    .or-break {
        background-color: white;
        position: relative;
        top: -0.8em;
        padding: 0 5px;
        font-size:14px;
    }